[Unit]
Description=Ardweather UDP server

[Service]
Type=simple
Restart=always
RestartSec=10
User=gurgi
ExecStart=/home/gurgi/Projects/arduweather/Server/adwServer


[Install]
WantedBy=multi-user.target

